<!DOCTYPE html>
<html>
  <head>
    <title>Tovarka</title>
  </head>
  <body>
    <header>
        <h2>Hello, header</h2>
    </header>
    <div class="container">
      <aside>
        <h2>Sidebar</h2>
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </aside>
      <main>
        <h2>Content</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, quam ac bibendum bibendum, nisi nisi bibendum sapien, vel bibendum sapien elit vel sapien. Donec euismod, quam ac bibendum bibendum, nisi nisi bibendum sapien, vel bibendum sapien elit vel sapien.</p>
      </main>
    </div>
    <footer>
      <p>&copy; 2023 My Website</p>
    </footer>
  </body>
</html>
